
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'map/css/style.css' %}" />
    <title>TMU Map</title>
  </head>
  <body>
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
        <a href="{% url 'map' %}">空き教室 Map</a>
        <a href="https://gdsc.community.dev/tokyo-metropolitan-university/" target="_blank">GDSC TMUについて</a>
        <a href="{% url 'class_location_map' %}" target="_blank">教室の地図データ更新状況</a>
        <a href="https://forms.gle/erVuRJv3L5z8sJ2w8" target="_blank">問い合わせ</a>
    </div>
    <button class="openbtn" onclick="openNav()">☰ TMU Map</button> 
    <p>教室の緯度と経度を集めるの手伝ってくれると助かります！</p>
    <p>教室の地図は<a href="https://kisu-yuyu.github.io/Warehouse/" target="_blank">こちら</a>から</p>
    <p>教室の場所を<a href="https://www.google.com/maps/d/edit?mid=1TmiL0alBBYYRQY7Y-ut4Z1PifT7mbMs&usp=sharing" target="_blank">Google My Map</a>上で確認、そこをクリックしてマーカーを置いたら、該当する教室番号と何号館かを記入</p>
    <p>ルール: 他の人が頑張ったのは消さない、間違っていたら直してあげる、荒らさない</p>
    <p>教室情報がTMU Mapに更新されるのは2週に１回です</p>

<button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Dropdown button <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
  </svg>
  </button>
  
  </body>
</html>