
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'map/css/style.css' %}" />
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2eGBY5tE1xDt2ZI7gM5E208hUC6Q4SSE&callback=initMap"
      async
      defer
    ></script>
    <script>
      function initMap() {
        var mapData = JSON.parse('{{ data|safe }}');

        var lastLocation = mapData[mapData.length - 1]; // Get the last location

        var map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: lastLocation.lat, lng: lastLocation.lng }, // Set the center to the last location
          zoom: 18, // Adjust the initial zoom level as desired
        });

        for (var i = 0; i < mapData.length; i++) {
          var location = mapData[i];
          var coordinate = new google.maps.LatLng(location.lat, location.lng);

          var marker = new google.maps.Marker({
            position: coordinate,
            map: map,
            title: location.title,
            label: {
              text: location.title,
              color: "black",
              fontSize: "20px",
            },
          });
        }
      }
    </script>
    <script>
      function openNav() {
        document.getElementById("mySidepanel").style.width = "250px";
      }
      
      function closeNav() {
        document.getElementById("mySidepanel").style.width = "0";
      }
    </script>
    <title>TMU Map</title>
  </head>
  <body>

    <div id="mySidepanel" class="sidepanel">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
      <a href="{% url 'map' %}">空き教室 Map</a>
      <a href="https://gdsc.community.dev/tokyo-metropolitan-university/" target="_blank">GDSC TMUについて</a>
      <a href="{% url 'class_location_map' %}" target="_blank">教室の地図データ更新状況</a>
      <a href="https://forms.gle/erVuRJv3L5z8sJ2w8" target="_blank">問い合わせ</a>
    </div>
    <button class="openbtn" onclick="openNav()">☰ TMU Map</button> 
  

    <div id="map"></div>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="search-button">Search</button>
    </form>
    <div class="container">
      <div class="searched-data">
        <p>検索に当てはまる講義:</p>
        <p>{% for result in results %}</p>
        <!-----
        <p>時期: {{ result.season }}</p>
        <p>曜日: {{ result.day }}</p>
        <p>時限: {{ result.period }}</p>
        ---->
        <p>{{ result.name }}(ID {{ result.lecture_id }})</p>
        <p>{{ result.building }}館{{ result.room_id }}室</p>
        <hr />
        {% empty %}
        <p>講義 nothing or データ足りん</p>
        {% endfor %}
      </div>

      <div class="matched-data">
        <p>空いてる教室:</p>
        {% for row in non_matching_rows %}
        <p>{{ row.building }}, {{ row.name }}室</p>
        {% empty %}
        <p>空き教室nothing or データ足りん</p>
        {% endfor %}
      </div>
    </div>
  </body>
</html>

