<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'map/css/style.css' %}" />
    <script src="{% static 'map/js/main.js' %}"></script>
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
      key: "AIzaSyAEkG8-pGM0wpINFRHSGqVB9h0z8NCEudI",
      v: "beta",
      // Add other bootstrap parameters as needed, using camel case.
    });
    </script>
    <script>
        let map;
        async function initMap() {
          let { Map } = await google.maps.importLibrary("maps");
          let { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
          

          try {
            console.log("Map is initialized");
            let mapData = JSON.parse('{{ data|safe }}');

            let lastLocation = mapData[1];

            map = new Map(document.getElementById("map"), {
            center: { lat: lastLocation.lat, lng: lastLocation.lng },
            zoom: 18, 
            disableDefaultUI: true,
            zoomControl: true,
            mapId: 'YOUR_MAP_ID'

            });

            for (let i = 0; i < mapData.length; i++) {
              let location = mapData[i];
              let coordinate = new google.maps.LatLng(location.lat, location.lng);
              let locationTag = document.createElement("div");
              locationTag.className = "location-tag";
              locationTag.textContent = location.title;

              let marker = new AdvancedMarkerElement({
                map: map,
                position: coordinate,
                content: locationTag,
              });
              
            }
          } catch (e) {
            console.log(e);
            TMUmapHome();
          }
        }

        async function TMUmapHome() {
            let { Map, InfoWindow } = await google.maps.importLibrary("maps");
            let { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
            const centreAtTMU = { lat: 35.616957028655015, lng: 139.37734852834322 };
            
            map = new Map(document.getElementById("map"), {
            center: centreAtTMU,
            zoom: 18,
            disableDefaultUI: true,
            zoomControl: true,
            mapId: 'YOUR_MAP_ID'
            });

            const contentString =
            '<div style="font-family: Tsukushi B Round Gothic;">' +
            '<h1>TMU Map</h1>' +
            "<h2>TMU Mapは都立大の便利情報を地図上で見ることができるアプリ</h2>" +
            "<h2>左上のボタンから空き教室を探したい時間帯を検索してみてね</h2>" +
            '<h2>製作者：<a href="https://twitter.com/GdscTmu" target="blank">GDSC TMUメンバーs</a><h2>' +
            "</div>";

            let offset = new google.maps.Size(0, 150);

            const infowindow = new InfoWindow({
              content: contentString,
              ariaLabel: "TMU",
              pixelOffset: offset
            });
            
            const centreMarker = new AdvancedMarkerElement({
              map: map,
              position: centreAtTMU,
              title: "TMU Map",
            });

            infowindow.open({
            anchor: centreMarker,
            map,
            });
        }
        initMap();
    </script>
  <title>TMU Map</title>
  </head>
  <body>
    <div class="map-screen">
      <div id="map"></div>
      <div id="main">
        <button class="openbtn" onclick="openNav()">TMU Map</button>
      </div>
    <div id="mySidebar" class="sidebar">
        <svg class="closebtn" onclick="closeNav()" width="80" height="80" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="25.2569" cy="25.5504" r="16.6361" transform="rotate(-90 25.2569 25.5504)" stroke="black" stroke-width="2.08134" stroke-linejoin="round"/>
          <path d="M18.4986 26.0704L32.0154 26.0704" stroke="black" stroke-width="2.08134" stroke-linejoin="round"/>
          <path d="M23.6974 19.8318C21.2611 22.2681 19.8951 23.634 17.4588 26.0703L23.6974 32.3088" stroke="black" stroke-width="2.08134" stroke-linejoin="round"/>
        </svg>

      <div class="dropDownSection">
        <div class="dropdown">
          <button id="dropdownButtonSemester" onclick="semesterSelect()" class="dropbtn">学期</button>
          <div id="semesterSelect" class="dropdown-content">
            <a class="dropdown-element" onclick="setSelectedOptionSemester('前期')">前期</a>
            <a class="dropdown-element" onclick="setSelectedOptionSemester('後期')">後期</a>
            <a class="dropdown-element" onclick="setSelectedOptionSemester('集中')">集中</a>
          </div>
        </div>

        <div class="dropdown">
          <button id="dropdownButtonDay" onclick="daySelect()" class="dropbtn">曜日</button>
          <div id="daySelect" class="dropdown-content">
            <a class="dropdown-element" onclick="setSelectedOptionDay('月')">月</a>
            <a class="dropdown-element" onclick="setSelectedOptionDay('火')">火</a>
            <a class="dropdown-element" onclick="setSelectedOptionDay('水')">水</a>
            <a class="dropdown-element" onclick="setSelectedOptionDay('木')">木</a>
            <a class="dropdown-element" onclick="setSelectedOptionDay('金')">金</a>
            <a class="dropdown-element" onclick="setSelectedOptionDay('土')">土</a>
            <a class="dropdown-element" onclick="setSelectedOptionDay('日')">日</a>

          </div>
        </div>

        <div class="dropdown">
          <button id="dropdownButtonPeriod" onclick="periodSelect()" class="dropbtn">時限</button>
          <div id="periodSelect" class="dropdown-content">
            <a onclick="setSelectedOptionPeriod('1限')">1限</a>
            <a onclick="setSelectedOptionPeriod('2限')">2限</a>
            <a onclick="setSelectedOptionPeriod('3限')">3限</a>
            <a onclick="setSelectedOptionPeriod('4限')">4限</a>
            <a onclick="setSelectedOptionPeriod('5限')">5限</a>
            <a onclick="setSelectedOptionPeriod('6限')">6限</a>
            <a onclick="setSelectedOptionPeriod('7限')">7限</a>
          </div>
        </div>
        <div class="dropdown">
          <form id="form-submit" style="display: none;" method="post" >
            {% csrf_token %}
            {{ form.semester }}
            {{ form.day }}
            {{ form.period }}
          </form>
          <button form="form-submit" class="submitButton" type="submit" onclick="closeNav();">検索</button>
        </div>
      </div>
      <div>
        <h3 class="link1"><a onclick="TMUmapHome(); closeNav();"><u>TMU Mapについて</u></a></h3>
        <h3 class="link2"><a href="https://www.w3schools.com/html/html_form_attributes_form.asp" onclick="closeNav();"><u>利用規約</u></a></h3>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="searched-data">
      <p>検索に当てはまる講義:</p>
      <p>{% for result in results %}</p>
      <p>{{ result.name }}(ID {{ result.lecture_id }})</p>
      <p>{{ result.building }}館{{ result.room_id }}室</p>
      <hr />
      {% empty %}
      <p>講義 nothing or データ足りん</p>
      {% endfor %}
    </div>

    <div class="matched-data">
      <p>空いてる教室:</p>
      {% for row in non_matching_rows %}
      <p>{{ row.building }}, {{ row.name }}室</p>
      {% empty %}
      <p>空き教室nothing or データ足りん</p>
      {% endfor %}
    </div>
  </div>
  </body>
</html>
